@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

.btn {
  cursor: pointer;
  outline: 0;
  font-size: 16px;
}
.text {
  opacity: 0.8;
}
.title {
  font-size: 36px;
  margin-bottom: 16px;
  color: #8f0a1c;
}

.container {
  min-height: 100vh;
  background: rgb(255, 230, 230);

}
.makeup-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  background: rgb(255, 230, 230);
  text-align: center;
  

}
/* --------search div------- */
.makeup-search {
  margin: 32px 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(252, 177, 177,0),rgb(252, 177, 177,0.5)),url(source.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 8px;
    border-radius:8px;
}

/* ------quote------ */
.makeup-search cite {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.makeup-search div {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
.makeup-search-box {
  margin: 20px 0;
  display: flex;
  align-items: stretch;
}
option:checked, option:hover {
      background-color: #8f0a1c;
      color:white ;
    }
select::-webkit-scrollbar {
  width: 10px;
}
select::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 32px;
}

.search-control,
.search-btn {
  width: 100%;
}
.search-control {
  padding: 0 16px;
  font-size: 18px;
  outline: 0;
  border: 1px solid #8f0a1c;
  color: #8f0a1c;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search-control::placeholder {
  color: #8f0a1c;
}
.search-btn {
  width: 55px;
  height: 55px;
  font-size: 28px;
  background: #8f0a1c;
  color: #fff;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.4s linear;
}

.search-btn:hover {
  background: #c40a23;
}

/* ---------product cards-------- */
.makeup-result {
  margin-top: 64px;
}
#makeup {
  margin: 40px 0;
}
.makeup-item {
  border-radius: 8px;
  background:#fff;

  overflow: hidden;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  margin: 32px 0;
  transition: 0.5s;
}
.makeup-item:hover{
  transform:scale(1.05);
  box-shadow: 0 12px 36px -18px rgba(0, 0, 0, 1);
  background-color: rgb(255, 201, 201)
}

.makeup-img img {
  width: 100%;
  display: block;
  height: 300px;
}
.makeup-name {
  padding: 24px 8px;
  overflow-y: scroll;
  height: 310px;
}
.makeup-name::-webkit-scrollbar {
  width: 10px;
}
.makeup-name::-webkit-scrollbar-thumb {
  background: #f0f0f0;
  border-radius: 32px;
}
.makeup-name h3 {
  font-size: 22px;
}
.product-btn {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #ffffff;
  font-weight: 500;
  font-size: 18px;
  padding: 12px 0;
  display: block;
  width: 175px;
  margin: 16px auto;
  border: 2px solid #8f0a1c;
  cursor: pointer;
  position: relative;
  transition: all 0.4s linear;
  border-radius:5px
}
.product-btn:hover {
  color: #ffffff;
  background: #8f0a1c;
}


/* js related */

.makeup-details-content {
  margin: 32px;
}
.makeup-details-content p:not(.product-category) {
  padding: 16px 0;
}

.product-title {
  letter-spacing: 1px;
  padding-bottom: 16px;
}

/* -------small reminder in card that u r searching product type by-------- */
.product-category {
  background: #fff;
  font-weight: 600;
  color: #8f0a1c;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 5px;
}
.product-instruct {
  padding: 16px 0;  
}

/* ---------thumbnail of image------------ */
.product-makeup-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  margin: 0 auto;
  display: block;
}


/* ---------buying link------ */
.product-link {
  margin: 22px 0;
}
.product-link a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s linear;
  text-decoration:none ;
}

.product-link a::after{
  content: "";
  width: 0;
  height: 3px;
  background: #8f0a1c;
  display: block;
margin:auto;
transition: 0.5s;
}
.product-link a:hover::after {
  width: 100%;
}




/* --------Media Queries-------- */
@media screen and (min-width: 600px) {
  .makeup-search-box {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  #makeup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  .makeup-item {
    margin: 0;
  }
  .makeup-details {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  #makeup {
    grid-template-columns: repeat(4, 1fr);
  }
}
